<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <title>{% block title %}U.S. Presidential Election Results{% endblock %}</title>
    <meta name="description" content="U.S. presidential election results from {{ min_year }} to {{ max_year }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.svg') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static',filename='img/icon.png') }}">
    <meta property="og:image" content="{{ url_for('static',filename='img/og.jpg') }}">
    {% block extrahead %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<header>
    <div class="container">
        {% block header %}
            <h1><a href="{{ url_for('home_view') }}">Election Results</a></h1>
            <div class="search">
                <input id="search" type="text" dir="ltr" autocorrect="off" autocomplete="off" autocapitalize="on"
                       maxlength="2048" tabindex="1">
            </div>
        {% endblock %}
    </div>
</header>
<main>
    <div class="container">{% block main %}{% endblock %}</div>
</main>
<footer>
    <div class="container">
        <a href="{{ url_for('counties_view') }}">Counties</a> |
        <a href="{{ url_for('sources_view') }}">Sources</a> |
        <a href="https://github.com/LukeLambert/countyvotes.us">GitHub</a>
    </div>
</footer>
{% block extrabody %}
    <script>const COUNTIES_JSON_URL = '{{ url_for('counties_json') }}';</script>
    <script src="{{ url_for('static', filename='js/autoComplete.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
</body>
</html>
