{% extends 'base.html' %}

{% block main %}
    <h2>Sources</h2>
    <div class="source">
        <h3>Election results data</h3>
        <a href="https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/VOQCHQ">
            MIT Election Data and Science Lab
        </a>
    </div>
    <div class="source">
        <h3>List of counties</h3>
        <a href="https://www.census.gov/library/reference/code-lists/ansi.html">
            United States Census Bureau
        </a>
    </div>
{% endblock %}