$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$chart-blue: rgb(54, 162, 235);
$chart-red: rgb(255, 99, 132);
$chart-orange: rgb(255, 159, 64);
$chart-yellow: rgb(255, 205, 86);
$chart-green: rgb(75, 192, 192);
$chart-purple: rgb(153, 102, 255);
$chart-grey: rgb(201, 203, 207);