@import "colors";

@function str-replace($string, $search, $replace) {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

:root {
  --color-chart-text: #{$gray-900};
  --color-chart-gridlines: #{$gray-200};
  --color-chart-democrat: #{$chart-blue};
  --color-chart-democrat-bg: #{rgba($chart-blue, 0.5)};
  --color-chart-republican: #{$chart-red};
  --color-chart-republican-bg: #{rgba($chart-red, 0.5)};
  --color-chart-other: #{$chart-yellow};
  --color-chart-other-bg: #{rgba($chart-yellow, 0.5)};
  --padding-size: 15px;
}

*.bg-democrat {
  background-color: var(--color-chart-democrat-bg);
}

*.bg-republican {
  background-color: var(--color-chart-republican-bg);
}

*.bg-other {
  background-color: var(--color-chart-other-bg);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $gray-50;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: $gray-900;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray-700;
  text-align: center;
}

a:link, a:visited {
  color: inherit;
}

a:hover, a:active {
  color: $gray-600;
}

.container {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 var(--padding-size);
}

section {
  padding: var(--padding-size);
  margin-bottom: var(--padding-size);
  border-radius: 5px;
  border: 1px solid $gray-200;
  background-color: white;

  h3:first-child {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.scroll-x {
  overflow-x: scroll;
}

table {
  width: 100%;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;

  th, td {
    box-sizing: border-box;
    border: 1px solid $gray-200;
    border-spacing: 0;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
  }

  th {
    background-color: $gray-50;
    font-weight: 500;
  }

  td {
    width: 12.5%;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 12px;
  }

  .number {
    text-align: right;
  }
}

.search {
  display: inline-block;
  position: relative;
  width: 100%;

  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 0.5em 1.2em;
    padding-left: 2em;
    border-radius: 100px;
    border: 1px solid $gray-300;
    outline: 0;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#{str-replace(#{$gray-400}, '#', '%23')}" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>');
    background-position: 0.6em center;
    background-repeat: no-repeat;
    background-size: 1em auto;
    font-size: 1em;
    font-family: inherit;
    color: $gray-900;
    transition: border-color 0.2s;

    &::placeholder {
      color: $gray-400;
    }

    &:focus {
      border-color: $gray-400;
    }
  }

  & > ul {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    overflow-y: scroll;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    background-color: white;
    transition: opacity 0.2s ease-in-out;
    line-height: 1;

    &[hidden], &:empty {
      display: block;
      opacity: 0;
      transform: scale(0);
    }

    & > li {
      margin: 5px;
      padding: 5px;
      border-radius: 3px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover, &[aria-selected="true"] {
        background-color: $gray-500;
        color: white;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

header {
  padding: var(--padding-size) 0;
  border-bottom: 1px solid $gray-200;

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin: 0 auto var(--padding-size) auto;
    text-align: center;
    line-height: 1;
    font-weight: normal;
    color: $gray-500;
  }

  a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
}

main {
  .container {
    margin: var(--padding-size) auto;
  }
}

footer {
  margin-top: auto;
  margin-bottom: 0;
  padding: var(--padding-size);
  border-top: 1px solid $gray-200;
  text-align: center;
  color: $gray-500;

  a:link, a:visited {
    color: inherit;
  }

  a:hover, a:active {
    color: $gray-600;
  }
}

.home {
  header {
    position: relative;
    box-sizing: border-box;
    padding: 10px 0 30px 0;
    background-color: $gray-700;

    .container {
      height: 100%;
      padding: 10% 0;
      max-width: none;
      background-image: url("../img/map.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      text-align: center;
    }

    h1 {
      margin: auto;
      line-height: 1.25;
      font-size: 2.4em;
      font-weight: bold;
      color: white;
      text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.25);

      .subtitle {
        font-size: 0.75em;
        color: $gray-300;
      }
    }

    .curve {
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;

      path {
        fill: #f8fafc;
      }
    }
  }

  main {
    position: relative;
    margin-top: -30px;

    .container {
      margin-top: 0;
    }
  }

  .search {
    display: block;
    max-width: 400px;
    margin: auto;

    input {
      font-size: 1.25em;
      border: 0;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
  }

  .about {
    margin-top: calc(var(--padding-size) * 2);
  }
}

.source {
  text-align: center;

  h3 {
    margin-bottom: 0;
  }
}

.error {
  text-align: center;
}

@media (min-width: 600px) {
  :root {
    --padding-size: 20px;
  }

  header {
    .container {
      flex-direction: row;
    }

    h1 {
      margin: 0 auto 0 0;
    }

    .search {
      max-width: 300px;
    }
  }

  .home {
    header {
      min-height: 50vh;
      padding: 30px 0;

      .container {
        padding: 0;
      }

      h1 {
        font-size: 3.5em;
      }
    }
  }
}
